@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.pageNameBox {
  position: relative;
  padding-right: 14px;
}

.loadingBox {
  position: absolute;
  right: 0;
  bottom: 0;
}
