<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>商城管理系统</title>
    <link rel="icon" href="http://api2.b.com/Resource/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/home.css" />
    <script src="/print.js"></script>
    <script>
      var appInitCustom = {
        platformName: '量子美食',
        appName: '量子美食 商城管理系统',
        loginLogo: 'http://api2.b.com/Resource/logo.png',
        shareLogo: 'http://api2.b.com/Resource/shareLogo.png',
        shareLogoName: '量子商城系统',
        companyName: '量子美食科技有限公司',
        apiPrefix: {
          corsTargetProduction: 'http://api2.b.com',
        },
      };
    </script>
    <script
      type="text/javascript"
      src="https://api.map.baidu.com/api?v=3.0&ak=x5FPS7UrcraG9EGhmrgOfvcIp8WcZ9cg"
    ></script>
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
    <div class="page-loading-containor">
      <div class="page-loading-containor-inner">
        <img src="/pro_icon.svg" alt="logo" width="256" />
        <div class="page-loading-warp">
          <div class="ant-spin ant-spin-lg ant-spin-spinning">
            <span class="ant-spin-dot ant-spin-dot-spin"
              ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
              ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
            ></span>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img
            src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg"
            width="32"
            style="margin-right: 8px;"
          />
          Ant Design
        </div>
      </div>
    </div>
  </body>
</html>
